@media (max-width: 575.98px) { 
    .name {
        font-size: 30px !important;
    }
    .social {
        display: flex;
        justify-content: center;
    }
   h3.info {
       margin-top: 50px;
   }
   .row.certificate {
    --bs-gutter-y: 2.2rem;
}  
   .row.pro {
    --bs-gutter-y: 2.2rem;
}
 }

