@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
     background-color: #f1f1f1 !important;
}
 .navigation {
     height: 55px;
     background: #1e1e1e;
}
 .brand {
     position: absolute;
     padding-left: 20px;
     float: left;
     line-height: 55px;
     text-transform: uppercase;
     font-size: 1.4em;
}
 .brand a, .brand a:visited {
     color: #ffffff;
     text-decoration: none;
}
 .nav-container {
     max-width: 1000px;
     margin: 0 auto;
}
 nav {
     float: right;
}
 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
}
 nav ul li {
     float: left;
     position: relative;
}
 nav ul li a,nav ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 55px;
     color: #fff;
     background: #262626 ;
     text-decoration: none;
}
 nav ul li a{
     background: transparent;
     color: #FFF;
}
 nav ul li a:hover, nav ul li a:visited:hover {
     background: #2581DC;
     color: #ffffff;
}
 .navbar-dropdown li a{
     background: #2581DC;
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 nav ul li ul li {
     min-width: 190px;
}
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}
 .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: #fff;
     box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
/* Mobile navigation */
 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;
}
 @media only screen and (max-width: 800px) {
     .nav-mobile {
         display: block;
    }
     nav {
         width: 100%;
         padding: 55px 0 15px;
    }
     nav ul {
         display: none;
    }
     nav ul li {
         float: none;
    }
     nav ul li a {
         padding: 15px;
         line-height: 20px;
         background: #262626;
    }
     nav ul li ul li a {
         padding-left: 30px;
    }
     .navbar-dropdown {
         position: static;
}
 @media screen and (min-width:800px) {
     .nav-list {
         display: block !important;
    }
}
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 15px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
}
}

.container.content {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 8px;
}
/* navbar ends */
img.img-thumbnail.profile {
    max-width: 300px;
    max-height: 300px;
}
.card {
    text-align: center;
    margin: 0 auto;
    border: none !important;
    padding-top: 30px;
    padding-bottom: 15px;
    width:80% !important;
    background-color: transparent !important;
}
.card-img, .card-img-top {
    border-radius: 15px;
    box-shadow: 0px 2px 10px;
}

.row {
    --bs-gutter-y: 2rem !important;
}



/* Progres start */
h2 {
    color: #fff;
  }
  
  .title {
    font-weight: bold;
    font-size: 20px;
    color: #db3a34;
  }
  
  .bar {
    width: 90%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 2s linear;
    border: 1px black solid;
    box-shadow: 1px 1px 10px;
  }
  
  .bar-1,
  .my-skills {
    width: 80%;
    margin: 10px auto 25px;
  }
  
  .bar-inner {
    width: 0;
    height: 17px;
    line-height: 35px;
    background: #db3a34;
    border-radius: 5px 0 0 5px;
  }
  
  .bar-percent {
    position: absolute;
    right: 10px;
    top: -3px;
    font-size: 15px;
}
  div#progress {
      padding:20px;
      text-align: center;
  }
/* progress end */

/* education */
.container.content.edu {
    height: fit-content;
}
.col-sm.edu {
    border: 1px black solid;
    padding-top: 30px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    transition: 1s;
}
.col-sm.edu:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 20px;
}

/* edu end */
/* Project */

/* project */