body {
  font-family: 'Nunito', sans-serif;
}

.container {
  padding: 30px;
  margin: 0 auto;
}
section {
  margin-bottom: -40px;
}
h1, h2, h3 {
  margin: 10px 0;
}
h2 {
  font-size: 30px;
}
p , a , li {
  font-size: 18px;
  line-height: 1.3;
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: #707070;
}
.resume-wrapper {
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 1px 1px 30px 1px;
  padding: 0 30px;
}
/* Personal Information */
.name {
  font-size: 50px;
  margin-top: 50px;
}
.detail-information p {
  font-weight: 700;
}
.detail-information p span {
  font-weight: 300;
}

/* Section Employment */
.employment-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px auto;
}
.emp-left {
  width: 35%;
  text-align: right;
  border-right: 1px solid rgba(0, 0, 0, 0.185);
  padding-right: 20px;
}
.emp-right {
  width: 60%;
  text-align: left;
}
.emp-date {
  font-weight: 700;
}

/* Section Skill */
.skill-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skill {
  width: 28%;
}
.skill p {
  font-size: 16px;
  font-weight: 700;
}
.skill p span {
  font-weight: 300;
}

/* Section Certification */
.certification img {
  max-width: 40%;
  border: 3px solid black;
}

/* Responsiveness */
@media (max-width: 576px) { 
  .resume-wrapper {
    padding: 0;
  }
  .name {
    font-size: 22px;
  }
  p , li , a {
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
  }
  .employment-wrapper {
    flex-direction: column;
  }
  .employment-wrapper p {
    margin: 0;
  }
  .emp-left {
    width: 100%;
    border-right: none;
    text-align: left;
  }
  .emp-right {
    width: 100%;
  }
  .certification img {
    max-width: 100%;
  }
  .skill-wrapper {
    flex-direction: column;
  }
  .skill-wrapper .skill {
    width: 100%;
  }
 }